$full: 100%;
$ninety: 90%;
$half: 50%;

$eighty-w: 80vw;
$eighty-h: 80vh;

$double-r: 2rem;
$full-half-r: 1.5rem;
$full-r: 1rem;
$half-r: 0.5rem;
$quarter-r: 0.25rem;

$frame: 1fr;

$dark-soft: rgba(255, 255, 255, 0.3);
$dark-color: #3b3b3b;
$orange: #ff8000;
$white: #fff;
$black: #000;
$strong-red: #d20000;
$soft-green: #d2ffd2;
$soft-red: #ffbfbf;
