@import 'mixins';
@import 'variables';

.detail {
  width: $full;
  height: $full;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: $frame;
  column-gap: $double-r;
  align-items: center;
  justify-items: center;
}

.image {
  width: $full;
  max-width: 30rem;
}

.info {
  width: $full;
  max-width: 40vw;
  height: 22rem;
  padding: $double-r;

  border-radius: $full-r;
  border: 1px solid $dark-soft;
  background-color: $dark-color;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  button {
    margin: $half-r 0;
    font-size: 1.3rem;
    outline: none;
    border-radius: $full-r;
    border: none;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    padding: $full-r 5rem;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}

.header {
  width: $full;
  padding: $half-r 0;

  color: $white;
  border-radius: $full-r;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2.5rem;
    margin: 0;
  }

  span {
    font-size: 0.9rem;
  }
}

.fighting {
  width: $full;

  background-color: $white;
  border-radius: $full-r;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .weak,
  .resistant {
    width: $full;
    padding: $half-r $full-r;
    margin: $half-r;
    border-radius: $full-r;
    display: grid;
    grid-template-columns: auto $frame;
    column-gap: $half-r;
    justify-items: center;
    align-items: center;
  }

  .resistant {
    background-color: $soft-green;
  }

  .weak {
    background-color: $soft-red;
  }
}

.feat {
  width: $full;
  display: flex;
}

.types > h3 {
  margin-bottom: 0;
}

@include non-standard-devices() {
  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 17.5rem;
  }

  .info {
    margin-top: $half-r;
    padding: $half-r;
    max-width: $ninety;

    button {
      padding: $half-r $double-r;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: $full-half-r;
      margin: 0;
    }

    span {
      font-size: 0.9rem;
    }
  }

  .types > h3 {
    margin-top: $half-r;
  }
}

@include tablets() {
  .image {
    width: 12.5rem;
  }

  .info {
    max-width: $full;
  }
  .types {
    h3 {
      font-size: $full-r;
      margin-bottom: $half-r;
    }
  }

  .feat {
    flex-direction: column;
  }
  .fighting {
    overflow: hidden;
    .weak,
    .resistant {
      width: $full;
      margin: 0;
      border-radius: 0;
      display: flex;
      justify-content: center;
      font-size: $full-r;
    }
  }
}

@include small-devices() {
  .header {
    h2 {
      font-size: 1$double-r;
    }
  }
}
