@import 'mixins';
@import 'variables';

.paper {
  height: $eighty-h;
  width: $eighty-w;
  padding: $double-r;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $dark-soft;
  border-radius: $full-r;
  box-shadow: 0 $quarter-r $double-r rgba(0, 0, 0, 0.5);
  backdrop-filter: blur($quarter-r);
  -webkit-backdrop-filter: blur($quarter-r);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@include small-devices() {
  .paper {
    padding: $full-r;
  }
}
