@import 'mixins';
@import 'variables';

.name {
  margin-bottom: $half-r;

  width: $full;
  display: flex;
  justify-content: center;
  text-align: center;

  h3 {
    color: $black;
    margin: 0;
    font-size: 1.2rem;
    font-style: italic;
    border-bottom: 1px solid $strong-red;
  }
}

.attack {
  margin-bottom: $half-r;
  padding: $half-r;
  background-color: $white;
  color: $black;
  border-radius: $half-r;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.damage {
  display: flex;
  justify-content: space-between;
  margin: $half-r 0;
  width: $full;
  max-width: 31rem;
  b {
    color: $strong-red;
  }
}

.description {
  width: $full;
  display: grid;
  justify-items: center;
  background-color: $dark-color;
  color: $white;
  padding: $half-r $quarter-r;
  border-radius: $half-r;
  text-align: center;
  width: $full;
  max-width: 31rem;
  font-size: 0.9rem;
  margin: 0 auto;
}

.btn {
  position: fixed;
  width: $full-half-r;
  height: $full-half-r;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $half;
  top: 0.2rem;
  right: 0.1rem;
  background-color: transparent;
  border: none;
  margin: 0 $half-r;
  color: $white;
  font-size: 1.2rem;
  &:hover {
    background-color: $white;
    color: $black;
  }
}

@include tablets() {
  .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
