@import 'variables';

.nocard {
  height: $eighty-h;
  width: $eighty-w;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: $dark-soft;
  border-radius: $full-r;
  box-shadow: 0 $quarter-r $double-r rgba(0, 0, 0, 0.5);
  backdrop-filter: blur($quarter-r);
  -webkit-backdrop-filter: blur($quarter-r);
  border: 1px solid $dark-soft;
}

.text {
  background-color: $white;
  padding: $half-r $double-r;
  border-radius: $half-r;

  h3 {
    margin: 0;
  }
}
