@import 'mixins';
@import 'variables';

.search {
  position: fixed;
  top: 0;
  width: $full;
  padding: $half-r;
  gap: $half-r;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background: $dark-soft;
  box-shadow: 0 $quarter-r $double-r rgba(0, 0, 0, 0.5);
  backdrop-filter: blur($quarter-r);
  -webkit-backdrop-filter: blur($quarter-r);

  label {
    color: $white;
    font-size: 1.3rem;
  }

  input {
    font-size: 1.3rem;
    padding: $quarter-r $half-r;
    outline: none;
    border-radius: $half-r;
    border: none;
    background-color: $dark-soft;
    width: 12rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.8);
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: auto;
    }
  }

  button {
    font-size: 1.3rem;
    outline: none;
    padding: 0.3rem $half-r;
    border-radius: $half-r;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: auto;
    }
  }
}

@include small-devices() {
  .search {
    align-items: center;
    justify-content: center;

    label {
      display: none;
    }
  }
}
