@import 'variables';

.paper {
  height: $eighty-h;
  width: $eighty-w;
  padding: $half-r;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-template-rows: auto;
  column-gap: $half-r;
  row-gap: $full-r;
  place-items: center;
  justify-items: center;

  background: $dark-soft;
  border-radius: $full-r;
  box-shadow: 0 $quarter-r $double-r rgba(0, 0, 0, 0.5);
  backdrop-filter: blur($quarter-r);
  -webkit-backdrop-filter: blur($quarter-r);
  border: 1px solid $dark-soft;
}
